export("GPFoblq.df")
export("GPForth.df")

export("ff.bentler")
export("ff.cf")
export("ff.cubimax")
export("ff.entropy")
export("ff.fss")
export("ff.geomin")
export("ff.infomax")
export("ff.oblimax")
export("ff.pst")
export("ff.quartimax")
export("ff.quartimin")
export("ff.simplimax")
export("ff.target")
export("ff.varimax")

export("cubimax.df")
export("fssT.df")
export("fssQ.df")

import(GPArotation)
